<?xml version="1.0" ?>
<robot name="DOCKING" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find DOCKING_description)/urdf/materials.xacro" />
<xacro:include filename="$(find DOCKING_description)/urdf/DOCKING.trans" />
<xacro:include filename="$(find DOCKING_description)/urdf/DOCKING.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="0.000393994165892423 0.14501829737064428 -4.0047432352055134e-09" rpy="0 0 0"/>
    <mass value="41.282267933635715"/>
    <inertia ixx="4.314511" iyy="6.225558" izz="1.916366" ixy="0.000281" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://DOCKING_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://DOCKING_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
